<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My IP</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <div class="grid-container">
        <div class="header-container">
            <h1>Your Public IP Address is:</h1>
            <h2><%= ip_address %></h2>
        </div>
    </div>
</body>
</html>